.hero {
    width: 100%;
    min-height: 450px;
}

@media only screen and (min-width: 359px) and (max-width: 766px) and (-webkit-min-device-pixel-ratio: 1) {
    .hero {
        min-height: 200px;
    }
}
